.home{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.h1{
    text-align: center;
    color:antiquewhite;
    background-color: rgb(158, 172, 172);
    padding: 5px;
    background-image: url('../assets/bg4.webp');
    width:98%
}
#container{
    background-image: url('../assets/bg5.png');
}